<configuration>
    <appSettings>
        <!-- Use this config setting to override using the registry key -->
        <!-- add key="FilePath" value="C:\Inetpub\wwwroot\VenueService2\VenueService.dat"/-->
        <add key="VenueService" value="http://localhost/VenueService/VenueService.asmx"/>
    </appSettings>
</configuration>
