<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eduTutor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eduTutor.Properties.Settings>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="RssFeedUri" serializeAs="String">
                <value>file://C:/rss.xml</value>
            </setting>
        </eduTutor.Properties.Settings>
    </userSettings>
</configuration>