<configuration>
    <appSettings>
        <!-- Add any of these as necessary to setup your archiver to work properly. 
        <add key="MSR.LST.ConferenceXP.ArchiveService.SQLConnectionString" value="data source=.;initial catalog=ArchiveService;integrated security=SSPI"/>
        <add key="MSR.LST.ConferenceXP.ArchiveService.TCPListeningPort" value="8082"/>
        <add key="MSR.LST.ConferenceXP.ArchiveService.PersistenceName" value="Archive Service"/> -->
    </appSettings>

    <!-- This allows all users to see the full exception and call stack on the client.  With this, there is some small, but innate security risk.
           However, it makes handling error much simpler & more programmable on the client-side. -->
    <system.runtime.remoting>
        <customErrors mode="off"/>
    </system.runtime.remoting>

</configuration>
