<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- DO NOT COPY THIS CONNECTION STRING TO THE ARCHIVE SERVICE CONFIG FILE.  IF YOU DO, TURN CONNECTION POOLING ON! -->
        <!-- Connection pooling is off only for the admin service, becuase it doesn't do any simultaneous operations, and connection pooling would be a waste of resources. -->
        <add key="MSR.LST.ConferenceXP.ArchiveService.SQLConnectionString" value="Data Source = .; Initial Catalog = ArchiveService; Integrated Security = SSPI; Pooling = false"/>
        <add key="MSR.LST.ConferenceXP.ArchiveService.CommandTimeout" value="600"/>
        <add key="ConnectOnStartup" value="true"/>
        <add key="CleanupDBOnConnect" value="false"/>
        <add key="ServiceName" value="CXPArchiver"/>
    </appSettings>
</configuration>
