<configuration>
  <appSettings>
    <add key="MSR.LST.ConferenceXP.VenueService.AutoLoad" value="false"/>
    <add key="MSR.LST.ConferenceXP.VenueService"  value="http://venues.conferencexp.net/venueservice/venueservice.asmx"/>
    <add key="MSR.LST.ConferenceXP.VenueService2" value="http://conferencexp-venues.commons.internet2.edu/venueservice"/>
    <add key="MSR.LST.ConferenceXP.VenueService3" value="http://venues.confxp.pnw-gigapop.net/venueservice"/>
    <add key="MSR.LST.ConferenceXP.VenueService4" value="http://cxp.renci.org/venueservice"/>
    <add key="MSR.LST.ConferenceXP.VenueService5" value="http://venues.confxp.researchchannel.org/venueservice"/>

    <add key="MSR.LST.ConferenceXP.Reflectorservice"  value="conferencexp-reflector.commons.internet2.edu"/>
    <add key="MSR.LST.ConferenceXP.Reflectorservice2" value="reflector.conferencexp.net"/>
    <add key="MSR.LST.ConferenceXP.Reflectorservice3" value="reflector.confxp.pnw-gigapop.net"/>
    <add key="MSR.LST.ConferenceXP.Reflectorservice4" value="cxp.renci.org"/>
    <add key="MSR.LST.ConferenceXP.Reflectorservice5" value="reflector.confxp.researchchannel.org"/>

    <add key="MSR.LST.ConferenceXP.ArchiveService"  value="conferencexp-archive.commons.internet2.edu"/>
    <add key="MSR.LST.ConferenceXP.ArchiveService2" value="archiver.conferencexp.net"/>
    <add key="MSR.LST.ConferenceXP.ArchiveService3" value="archiver.confxp.pnw-gigapop.net"/>

    <add key="MSR.LST.ConferenceXP.Capability.Presentation.ExitRemote" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.MaxBandwidth" value="256000"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.Channel" value="false"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.Fec" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Presentation.FecRatio" value="0:100"/>
    
    <add key="MSR.LST.ConferenceXP.Capability.Chat.Channel" value="false"/>
    
    <add key="MSR.LST.ConferenceXP.Capability.Video.Fec" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Video.FecRatio" value="0:1"/>
    
    <!-- Uncomment for WMV3, leave commented for WMV1 (default) -->
    <!-- This can either be a Guid or substring for which we have a match
         in MediaType.SubType to the right of the _ in MediaType.cs-->
    <!-- <add key="MSR.LST.MDShow.VideoMediaType" value="WMV3"/> -->
        
    <add key="MSR.LST.ConferenceXP.Capability.Audio.Fec" value="true"/>
    <add key="MSR.LST.ConferenceXP.Capability.Audio.FecRatio" value="0:1"/>
  
    <add key="MSR.LST.ConferenceXP.RTDocumentViewerDefault" value="Presentation" /> 

    <add key="MSR.LST.Net.Rtp.TimeToLive" value="128"/>
        
    <add key="MSR.LST.Net.ConnectivityDetector.AutoStart" value="false" /> 
    <add key="MSR.LST.Net.ConnectivityDetector.IPAddress" value="233.4.12.3" /> 
    <add key="MSR.LST.Net.ConnectivityDetector.Port" value="5004" /> 
    <add key="MSR.LST.Net.ConnectivityDetector.UpdateIntervalSeconds" value="10" /> 
    
    <add key="MSR.LST.ConferenceXP.LogActivity" value="true"/>
    
    <add key="MSR.LST.ConferenceXP.StudentMode" value="false"/>
  </appSettings>
</configuration>
