<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
  <extensions>
    <extension name="CommonCapabilitySecurity" type="BT.Sdk.Utilities.SamlClient.CommonCapabilityAssertion, btsdk" />
    <extension name="WLASecurity" type="BT.Sdk.Utilities.SamlClient.SDKSecurityAssertion, btsdk" />
    <extension name="x509" type="Microsoft.Web.Services3.Design.X509TokenProvider, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <extension name="requireActionHeader" type="Microsoft.Web.Services3.Design.RequireActionHeaderAssertion, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </extensions>
  <policy name="CommonCapabilityPolicy">
    <CommonCapabilitySecurity establishSecurityContext="false" renewExpiredSecurityContext="false" requireSignatureConfirmation="false" messageProtectionOrder="SignBeforeEncrypt" requireDerivedKeys="false" ttlInSeconds="300000000">
      <clientToken>
        <x509 storeLocation="CurrentUser" storeName="My" findValue="CN=eduGRIDSMS, OU=73efb8e2-9ee9-43ce-aac6-d3d048a5ca94, O=BT SDK, L=London, S=London, C=GB" findType="FindBySubjectDistinguishedName" />
      </clientToken>
      <serviceToken>
        <x509 storeLocation="CurrentUser" storeName="TrustedPeople" findValue="CN=BT SDK Server, OU=PDB, O=British Telecom, L=London, S=England, C=UK" findType="FindBySubjectDistinguishedName" />
      </serviceToken>
      <protection>
        <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
        <response signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
        <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
      </protection>
    </CommonCapabilitySecurity>
    <requireActionHeader />
  </policy>
  <policy name="SessionPolicy">
    <CommonCapabilitySecurity establishSecurityContext="false" renewExpiredSecurityContext="false" requireSignatureConfirmation="false" messageProtectionOrder="SignBeforeEncrypt" requireDerivedKeys="false" ttlInSeconds="300000000">
      <clientToken>
        <x509 storeLocation="CurrentUser" storeName="My" findValue="CN=eduGRIDSMS, OU=73efb8e2-9ee9-43ce-aac6-d3d048a5ca94, O=BT SDK, L=London, S=London, C=GB" findType="FindBySubjectDistinguishedName" />
      </clientToken>
      <serviceToken>
        <x509 storeLocation="CurrentUser" storeName="TrustedPeople" findValue="CN=BT SDK Server, OU=PDB, O=British Telecom, L=London, S=England, C=UK" findType="FindBySubjectDistinguishedName" />
      </serviceToken>
      <protection>
        <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
        <response signatureOptions="IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
        <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
      </protection>
    </CommonCapabilitySecurity>
    <requireActionHeader />
  </policy>
  <policy name="WLAPolicy">
    <WLASecurity establishSecurityContext="false" renewExpiredSecurityContext="true" requireSignatureConfirmation="false" messageProtectionOrder="SignBeforeEncrypt" requireDerivedKeys="false" ttlInSeconds="300000000">
      <clientToken>
        <x509 storeLocation="CurrentUser" storeName="My" findValue="CN=eduGRIDSMS, OU=73efb8e2-9ee9-43ce-aac6-d3d048a5ca94, O=BT SDK, L=London, S=London, C=GB" findType="FindBySubjectDistinguishedName" />
      </clientToken>
      <serviceToken>
        <x509 storeLocation="CurrentUser" storeName="TrustedPeople" findValue="CN=BT SDK Server, OU=PDB, O=British Telecom, L=London, S=England, C=UK" findType="FindBySubjectDistinguishedName" />
      </serviceToken>
      <protection>
        <request signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
        <response signatureOptions="IncludeAddressing" encryptBody="false" />
        <fault signatureOptions="IncludeAddressing, IncludeTimestamp, IncludeSoapBody" encryptBody="false" />
      </protection>
    </WLASecurity>
    <requireActionHeader />
  </policy>
</policies>