<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlTesterConnectionString" value="user id=alchemi;password=alchemi;initial catalog=AlchemiTester;data source=localhost;Connect Timeout=5; Max Pool Size=5; Min Pool Size=5" />
    <add key="MySqlTesterConnectionString" value="user id=alchemi;password=alchemi;database=AlchemiTester;data source=localhost;Connect Timeout=5; Max Pool Size=5; Min Pool Size=5;" />
  </appSettings>
</configuration>
