<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Use this config setting to override using the registry key -->
    <!-- add key="FilePath" value="C:\Inetpub\wwwroot\VenueService2\VenueService.dat"/-->
    
    <!-- Connection String for connecting to the venue service 1.2 database -->
    <add key="SqlConnectionString" value="Initial Catalog=VenueService;Data Source=localhost;integrated security=sspi;" /> 
  </appSettings>
</configuration>
